[user]
        name = Evan Oxfeld
        email = eoxfeld@gmail.com
[color]
        diff = auto
        status = auto
        branch = auto
        ui = true

[alias]
  st = status -sb
  br = branch
  co = checkout
[push]
        default = upstream
[core]
        excludesfile = ~/.gitignore_global
	editor = vim
	autocrlf = input
[diff]
        mnemonicprefix = true
[credential]
	helper = cache --timeout=86400
